<ul class="nav navbar-nav">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li>
        <a class="btn btn-secondary btn-event dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Event
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/Event/AllEvents">All Events</a>
            <a class="dropdown-item" href="/Event/Create">Create Event</a>
        </div>
    </li>
</ul>

