@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Home Page";
}

@if (this.User.IsInRole("Admin"))
{
    <h1>Admin</h1>
}
else if (this.User.IsInRole("Driver"))
{
    <h1>Driver</h1>
}
else if (this.User.IsInRole("Customer"))
{
    <h1>Custumer</h1>
}
else
{
    <h1>You dont have role!</h1>
}

