@{
    ViewData["Title"] = "Home Page";
}


@if (!User.Identity.IsAuthenticated)
{
    <main class="mt-3">
        <div class="jumbotron mt-3 bg-event">
            <h2 class="text-white">Eventures - The best ticket service in the world.</h2>
            <hr class="bg-white hr-2" />
            <h3 class="text-white"><a asp-area="Identity" asp-page="/Account/Login">Login</a> to start "eventing".</h3>
            <h3 class="text-white"><a asp-area="Identity" asp-page="/Account/Register">Register</a> if you don't.</h3>
        </div>
    </main>
}
else if (User.IsInRole("Admin"))
{
    <main class="mt-3">
        <div class="jumbotron mt-3 bg-event">
            <h2 class="text-white">Greetings, Administrator - @User.Identity.Name!</h2>
            <hr class="bg-white hr-2" />
            <h3 class="text-white">Enjoy your work.</h3>
        </div>
    </main>
}
else
{
    <main class="mt-3">
        <div class="jumbotron mt-3 bg-event">
            <h2 class="text-white">Welcome, @User.Identity.Name!</h2>
            <hr class="bg-white hr-2" />
            <h3 class="text-white">Eventures wishes you an exciting experience.</h3>
        </div>
    </main>
}